.product{
    width:200px;
    height: 250px;
    border:1px solid #ccc;

}

.product .product-img{
    width: 100%;
    height:150px;
}

.product .product-img img{
    width:100%;
    height:100%;
}

.product-detail{
    padding:5px;
}

.product-detail h3{
    margin-bottom:10px;
}
.product-detail button{
    margin-top:5px;
    padding:5px 10px;
    background-color:teal;
    color:white;
    border:none;
    border-radius:5px;
}
.product-detail button:hover{
    background-color:rgb(9, 189, 189);
}

.btnremove{
    background-color: red !important;
}